@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;500;700&display=swap');
body{
background-image: url('../../../monaie.jpg');
background-repeat: no-repeat;
background-size:cover;
background-position:center;
}
.app {
  font-family: 'Spartan', sans-serif;
  width: 60%;
  max-width: 60%;
  height: 95vh;
  margin: 1em auto;
  background-color: white;
  
  
}






