@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;500;700&display=swap');
body{
background-color: #f1c5b6;
}
.app {
  font-family: 'Spartan', sans-serif;
  width: 60%;
  max-width: 60%;
  height: 100vh;
  margin: 1em auto;
  background-color: white;
  
}






